---
import '@/styles/global.css'
import Footer from '@/components/Footer.astro' 
import OpenGraph from '@/components/OpenGraph.astro'
import HomeButton from '@/components/HomeButton.astro';

interface Props {
	title?: string,
	class?: string,
}

const { title, class: className } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Aurigas" />
		<meta name="google-site-verification" content="1DPnJRGCI8UXG0Hxh7z1ZNOGXG0xFSG5IVQUp-C3nn4" />
		<meta name="keywords" content="Aurigas, Minecraft, Mods, Survival, Mining" />
		<meta name="theme-color" content="#050c1a" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="google" content="notranslate" />
		<OpenGraph title={title}/>
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" type="image/png" href="/images/favicon.png" sizes="112x112"/>
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

		<style is:global>
			.custom-scrollbar::-webkit-scrollbar {
			  width: 8px;
			}
			
			.custom-scrollbar::-webkit-scrollbar-track {
			  background: #1a1c2a;
			  border-radius: 4px;
			}
			
			.custom-scrollbar::-webkit-scrollbar-thumb {
			  background: #4b5563;
			  border-radius: 4px;
			}
			
			.custom-scrollbar::-webkit-scrollbar-thumb:hover {
			  background: #6366f1;
			}
			
			.custom-scrollbar {
			  scrollbar-width: thin;
			  scrollbar-color: #4b5563 #1a1c2a;
			}
		</style>
	</head>
	<body class={className}>
		<slot />
		<HomeButton/>		
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		color: white;
		background-color: #050c1a;
		background-image: url('/topography.svg');
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>